.contact p{
    line-height: 0.5;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-align: start;
}
.image {
    position: relative;
    text-align: center;
  }

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 45px;
  }
  .bottom-left{
      position: absolute;
      bottom: 10px;
      left: 10px;

  }
.title{
    font-family: Marker Felt, fantasy;
    font-size: 48px;
    font-weight: bold;
    display: inline-block
}
.icon{
    height: 96px;
    width: 96px;
    display: inline-block;
    z-index: 5;
}
.bordo{
    border:3px solid black;
    padding: 5px;
}
.spz-container{
    padding-top: 1.5%;
}
.main-bg-icon{
    background-image: url("bo2.jfif");
}
.titoletto{
    font-family: Marker Felt, fantasy;
    text-align: center;
    text-transform: uppercase;
}
.bordo-t{
    padding: 6px;
    margin-bottom: 15px;
    border: 3px solid #ff4444;
    box-sizing: border-box;
}
.description{
    text-align: start;
    font-weight: bold;
        width: 100%;
        
}
.barra{
    background-color: antiquewhite;
    padding: 0;
}
.bottom-left .shareb{
    border: 1px rgba(0, 0, 0, 0.404) solid;
    padding: 0;
    margin: 4px;
}
.sf,.bordo-t,.bordo{
    background-image: url("titoletto.jfif");
}
.bottom-right p{
    line-height: 0.6em;
}